In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
##1Determine the number of elements in fruits.


fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruit_series)

fruit_series.size

17

In [6]:
##Output only the index from fruits.

fruit_series.index

RangeIndex(start=0, stop=17, step=1)

In [7]:
##Output only the values from fruits.

fruit_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [8]:
##Confirm the data type of the values in fruits.

fruit_series.dtype

dtype('O')

In [18]:
##Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

fruit_series.head(5)
fruit_series.tail(3)
fruit_series.sample(2)

10     kiwi
1     mango
dtype: object

In [10]:
##Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [80]:
## Run the code necessary to produce only the unique string values from fruits.

fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.nunique()

13

In [48]:
##Determine how many times each unique string value occurs in fruits.

fruit_series.value_counts()

kiwi                4
mango               2
blueberry           1
blackberry          1
gooseberry          1
gala apple          1
honeycrisp apple    1
papaya              1
strawberry          1
tomato              1
pineapple           1
watermelon          1
honeydew            1
dtype: int64

In [55]:
##Determine the string value that occurs most frequently in fruits.

fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.value_counts().idxmax()

'kiwi'

In [56]:
##Determine the string value that occurs least frequently in fruits.



fruit_series.value_counts(ascending = True)

blueberry           1
blackberry          1
gooseberry          1
gala apple          1
honeycrisp apple    1
papaya              1
strawberry          1
tomato              1
pineapple           1
watermelon          1
honeydew            1
mango               2
kiwi                4
dtype: int64

In [57]:

#Exercises Part II


##1Capitalize all the string values in fruits.


fruit_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [71]:
##2.Count the letter "a" in all the string values (use string vectorization).
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.apply(lambda row: row.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [79]:
##3.Output the number of vowels in each and every string value
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series

TypeError: count() takes at most 3 arguments (5 given)

In [85]:
##4.Write the code to get the longest string value from fruits.
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')


fruit_series.apply(len).value_counts()

10    5
4     4
5     2
6     2
9     2
8     1
16    1
dtype: int64

In [124]:
##5.Write the code to get the string values with 5 or more letters in the name.

fruit_series[fruit_series.str.len() > 4]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [84]:
##6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.


fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.apply(lambda row: row.count('o'))

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

In [144]:
##7.Write the code to get only the string values containing the substring "berry".
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype(str)

fruit_series[fruit_series.str.contains("berry")]## used method chaining to find the string that contains 'berry'

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [99]:
#8.Write the code to get only the string values containing the substring "apple".

fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype(str)

fruit_series[fruit_series.str.contains("apple")]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [145]:
#9 Which string value contains the most vowels?

fruit_series.str.count('aeiou')

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [139]:
##Exercises Part III
##Use pandas to create a Series named letters from the following string:


  ##  'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
##Which letter occurs the most frequently in the letters Series?

string = "hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy"
type(string)
                 
' '.join(string)

'h n v i d d u c k k q x w y m b i m k c c e x b k m q y g k x o y n d m c x n w q a r h y f f s j p s r a b t j z s y p m z a d f a v y r n n d n d v s w r e a u x o v n c x t w z p w e j i l z j r m m b b g b y x v j t e w q t h a f n b k q p l a r o k k y y d t u b b m n e x o y p u l z w f h q v c k d p q t p o p p z q r m c v h h p w g j w u p g z h i o f o h a w y t l s i y e c u p r o g u y'

In [137]:
type(letters)

pandas.core.series.Series

In [140]:
letters_list = ' '.join(string).split(' ')
letters_list[:10]

['h', 'n', 'v', 'i', 'd', 'd', 'u', 'c', 'k', 'k']

In [141]:
letters = pd.Series(letters_list)
letters.head()

0    h
1    n
2    v
3    i
4    d
dtype: object

In [142]:
letters.value_counts().sort_values(ascending=False)

y    13
p    12
w    10
k     9
n     9
b     9
m     9
h     8
c     8
a     8
x     8
d     8
r     8
o     8
q     8
u     7
z     7
v     7
t     7
j     6
f     6
e     6
s     5
i     5
g     5
l     4
dtype: int64

In [146]:
##Which letter occurs the Least frequently?

letters.value_counts().sort_values

<bound method Series.sort_values of y    13
p    12
w    10
k     9
n     9
b     9
m     9
q     8
o     8
r     8
d     8
h     8
a     8
x     8
c     8
u     7
z     7
v     7
t     7
j     6
f     6
e     6
s     5
i     5
g     5
l     4
dtype: int64>

In [163]:
##3.How many vowels are in the Series?

letters.str.lower().str.count('[aeiou]')

0      0
1      0
2      0
3      1
4      0
      ..
195    0
196    1
197    0
198    1
199    0
Length: 200, dtype: int64

In [169]:
##4How many consonants are in the Series?


letters.str.lower().str.count('[aeiou]')

counts = (
    letters.str.extractall('(?i)(?P<vowels>[aeiou])|(?P<consonants>[a-z])')
    .groupby(level=0).count())
    
print(counts)

     vowels  consonants
0         0           1
1         0           1
2         0           1
3         1           0
4         0           1
..      ...         ...
195       0           1
196       1           0
197       0           1
198       1           0
199       0           1

[200 rows x 2 columns]