In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [7]:
##1Determine the number of elements in fruits.


fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruit_series)

fruit_series.size

17

In [ ]:
##Output only the index from fruits.

fruit_series.index

In [ ]:
##Output only the values from fruits.

fruit_series.values

In [ ]:
##Confirm the data type of the values in fruits.

fruit_series.dtype

In [ ]:
##Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

fruit_series.head(5)
fruit_series.tail(3)
fruit_series.sample(2)

In [ ]:
##Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruit_series.describe()

In [ ]:
## Run the code necessary to produce only the unique string values from fruits.

fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.nunique()

In [ ]:
##Determine how many times each unique string value occurs in fruits.

fruit_series.value_counts()

In [ ]:
##Determine the string value that occurs most frequently in fruits.

fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.value_counts().idxmax()

In [ ]:
##Determine the string value that occurs least frequently in fruits.



fruit_series.value_counts(ascending = True)

In [ ]:

#Exercises Part II


##1Capitalize all the string values in fruits.


fruit_series.str.upper()

In [ ]:
##2.Count the letter "a" in all the string values (use string vectorization).
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.apply(lambda row: row.count('a'))

In [ ]:
##3.Output the number of vowels in each and every string value
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series

In [ ]:
##4.Write the code to get the longest string value from fruits.
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')


fruit_series.apply(len).value_counts()

In [ ]:
##5.Write the code to get the string values with 5 or more letters in the name.

fruit_series[fruit_series.str.len() > 4]

In [ ]:
##6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.


fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype('str')

fruit_series.apply(lambda row: row.count('o'))

In [ ]:
##7.Write the code to get only the string values containing the substring "berry".
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype(str)

fruit_series[fruit_series.str.contains("berry")]## used method chaining to find the string that contains 'berry'

In [ ]:
#8.Write the code to get only the string values containing the substring "apple".

fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]).astype(str)

fruit_series[fruit_series.str.contains("apple")]

In [ ]:
#9 Which string value contains the most vowels?

fruit_series.str.count('aeiou')

In [1]:
##Exercises Part III
##Use pandas to create a Series named letters from the following string:


  ##  'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
##Which letter occurs the most frequently in the letters Series?

string = "hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy"
type(string)
                 
' '.join(string)

'h n v i d d u c k k q x w y m b i m k c c e x b k m q y g k x o y n d m c x n w q a r h y f f s j p s r a b t j z s y p m z a d f a v y r n n d n d v s w r e a u x o v n c x t w z p w e j i l z j r m m b b g b y x v j t e w q t h a f n b k q p l a r o k k y y d t u b b m n e x o y p u l z w f h q v c k d p q t p o p p z q r m c v h h p w g j w u p g z h i o f o h a w y t l s i y e c u p r o g u y'

In [3]:
type(string)

str

In [4]:
letters_list = ' '.join(string).split(' ')
letters_list[:10]

['h', 'n', 'v', 'i', 'd', 'd', 'u', 'c', 'k', 'k']

In [9]:
letters = pd.Series(letters_list)
letters.head()

0    h
1    n
2    v
3    i
4    d
dtype: object

In [10]:
letters.value_counts().sort_values(ascending=False)

y    13
p    12
w    10
m     9
b     9
n     9
k     9
x     8
h     8
a     8
q     8
c     8
r     8
d     8
o     8
z     7
u     7
t     7
v     7
j     6
e     6
f     6
i     5
s     5
g     5
l     4
dtype: int64

In [11]:
##Which letter occurs the Least frequently?

letters.value_counts().sort_values

<bound method Series.sort_values of y    13
p    12
w    10
m     9
b     9
n     9
k     9
o     8
d     8
r     8
c     8
x     8
a     8
q     8
h     8
z     7
u     7
t     7
v     7
j     6
e     6
f     6
i     5
s     5
g     5
l     4
dtype: int64>

In [12]:
##3.How many vowels are in the Series?

letters.str.lower().str.count('[aeiou]')

0      0
1      0
2      0
3      1
4      0
      ..
195    0
196    1
197    0
198    1
199    0
Length: 200, dtype: int64

In [13]:
##4How many consonants are in the Series?


letters.str.lower().str.count('[aeiou]')

counts = (
    letters.str.extractall('(?i)(?P<vowels>[aeiou])|(?P<consonants>[a-z])')
    .groupby(level=0).count())
    
print(counts)

     vowels  consonants
0         0           1
1         0           1
2         0           1
3         1           0
4         0           1
..      ...         ...
195       0           1
196       1           0
197       0           1
198       1           0
199       0           1

[200 rows x 2 columns]

In [14]:
##5Create a Series that has all of the same letters but uppercased.

letters.str.upper()

0      H
1      N
2      V
3      I
4      D
      ..
195    R
196    O
197    G
198    U
199    Y
Length: 200, dtype: object

In [38]:
##6Create a bar plot of the frequencies of the 6 most commonly occuring letters.






from collections import Counter
letters_to_count = (word for word in letters if word[:1].isupper())
c = Counter(letters)
letter_count = c.most_common(6)
print(letter_count)



letter_count.plot.bar(rot=0)

plt.show()

[('y', 13), ('p', 12), ('w', 10), ('n', 9), ('k', 9), ('m', 9)]

AttributeError: 'list' object has no attribute 'plot'