In [3]:
import pandas as pd



df = pd.read_excel(r'/Users/chris/Downloads/Spreadsheets_Exercises (1).xlsx' )

print(df)

     customer_id  gender  is_senior_citizen partner dependents  phone_service  \
0     0002-ORFBO  Female                  0     Yes        Yes              1
1     0003-MKNFE    Male                  0      No         No              2
2     0004-TLHLJ    Male                  0      No         No              1
3     0011-IGKFF    Male                  1     Yes         No              1
4     0013-EXCHZ  Female                  1     Yes         No              1
...          ...     ...                ...     ...        ...            ...
7044  9987-LUTYD  Female                  0      No         No              1
7045  9992-RRAMN    Male                  0     Yes         No              2
7046  9992-UJOEL    Male                  0      No         No              1
7047  9993-LHIEB    Male                  0     Yes        Yes              1
7048  9995-HOTOH    Male                  0     Yes        Yes              0

      internet_service  contract_type      payment_type  monthly_charges  \
0                    1              1      Mailed check            65.60
1                    1              0      Mailed check            59.90
2                    2              0  Electronic check            73.90
3                    2              0  Electronic check            98.00
4                    2              0      Mailed check            83.90
...                ...            ...               ...              ...
7044                 1              1      Mailed check            55.15
7045                 2              0  Electronic check            85.10
7046                 1              0      Mailed check            50.30
7047                 1              2      Mailed check            67.85
7048                 1              2  Electronic check            59.00

      total_charges churn  Unnamed: 12  Unnamed: 13
0            593.30    No          NaN          NaN
1            542.40    No          NaN          NaN
2            280.85   Yes          NaN          NaN
3           1237.85   Yes          NaN          NaN
4            267.40   Yes          NaN          NaN
...             ...   ...          ...          ...
7044         742.90    No          NaN          NaN
7045        1873.70   Yes          NaN          NaN
7046          92.75    No          NaN          NaN
7047        4627.65    No          NaN          NaN
7048        3707.60    No          NaN          NaN

[7049 rows x 14 columns]

In [4]:
df = pd.read_csv (r'/Users/chris/Downloads/Spreadsheets_Exercises (1).csv')
print (df)

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,3,4,8,11,26,27,28,29,31,32,33,34,35,50,51,130) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

        customer_id  gender  is_senior_citizen partner dependents  \
0        0002-ORFBO  Female                0.0     Yes        Yes
1        0003-MKNFE    Male                0.0      No         No
2        0004-TLHLJ    Male                0.0      No         No
3        0011-IGKFF    Male                1.0     Yes         No
4        0013-EXCHZ  Female                1.0     Yes         No
...             ...     ...                ...     ...        ...
1048570         NaN     NaN                NaN     NaN        NaN
1048571         NaN     NaN                NaN     NaN        NaN
1048572         NaN     NaN                NaN     NaN        NaN
1048573         NaN     NaN                NaN     NaN        NaN
1048574         NaN     NaN                NaN     NaN        NaN

         phone_service  internet_service  contract_type      payment_type  \
0                  1.0               1.0            1.0      Mailed check
1                  2.0               1.0            0.0      Mailed check
2                  1.0               2.0            0.0  Electronic check
3                  1.0               2.0            0.0  Electronic check
4                  1.0               2.0            0.0      Mailed check
...                ...               ...            ...               ...
1048570            NaN               NaN            NaN               NaN
1048571            NaN               NaN            NaN               NaN
1048572            NaN               NaN            NaN               NaN
1048573            NaN               NaN            NaN               NaN
1048574            NaN               NaN            NaN               NaN

         monthly_charges  ...  Unnamed: 121 Unnamed: 122  Unnamed: 123  \
0                   65.6  ...           NaN          NaN           NaN
1                   59.9  ...           NaN          NaN           NaN
2                   73.9  ...         70.00        71.00         72.00
3                   98.0  ...         91.89        93.05         98.77
4                   83.9  ...         56.53        51.60         49.91
...                  ...  ...           ...          ...           ...
1048570              NaN  ...           NaN          NaN           NaN
1048571              NaN  ...           NaN          NaN           NaN
1048572              NaN  ...           NaN          NaN           NaN
1048573              NaN  ...           NaN          NaN           NaN
1048574              NaN  ...           NaN          NaN           NaN

         Unnamed: 124  Unnamed: 125  Unnamed: 126  Unnamed: 127  Unnamed: 128  \
0                 NaN           NaN           NaN           NaN           NaN
1                 NaN           NaN           NaN           NaN           NaN
2               73.00         74.00         75.00          76.0          77.0
3               95.67        100.05         97.18           NaN           NaN
4               61.12         63.10         60.63           NaN           NaN
...               ...           ...           ...           ...           ...
1048570           NaN           NaN           NaN           NaN           NaN
1048571           NaN           NaN           NaN           NaN           NaN
1048572           NaN           NaN           NaN           NaN           NaN
1048573           NaN           NaN           NaN           NaN           NaN
1048574           NaN           NaN           NaN           NaN           NaN

         Unnamed: 129 Unnamed: 130
0                 NaN          NaN
1                 NaN          NaN
2                79.0  Grand Total
3                 NaN      6348.12
4                 NaN      3355.43
...               ...          ...
1048570           NaN          NaN
1048571           NaN          NaN
1048572           NaN          NaN
1048573           NaN          NaN
1048574           NaN          NaN

[1048575 rows x 131 columns]